.section {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    margin: 0 auto;
    padding: 0 4rem;
    
    
    @include respond(tab-port) {
        width: 100%;
        flex-wrap: wrap;
    
    }
}

.col-1-of-2 {
    width: 50%;
    
    
    &:not(:last-child) {
        margin-right: 5rem;

        @include respond(tab-port) {
            width: 100%;
        }
    }
    
}

.wrapper {
    max-width: 114rem;
}

